:root {
    --disabled-color: #aaa;
    --unset-color: #555;
    --timing-color: #0aa;
    --overtime-color: #aa0;
}

body {
    background: white;
    color: #555;
    font: 16px/1 sans-serif;
}

fieldset {
    border-width: 2px;
    border-style: solid;
    border-radius: 3em;
    box-sizing: border-box;
    padding: 1em 2em 1em 7em;
    position: relative;
    min-height: calc(6em + 2px);
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    gap: 1ex;
}

fieldset[disabled] {
    color: var(--disabled-color) !important;
}

input,
button {
    font: caption;
    line-height: 1;
    vertical-align: middle !important;
}

fieldset:before,
fieldset:after {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 6em;
    height: 6em;
}

fieldset:before {
    content: '';
    background: currentColor;
    border-radius: 3em;
}

fieldset:after {
    content: attr(id);
    color: white;
    line-height: 6em;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

legend {
    position: absolute;
    top: -0.75em;
    background: white;
    padding: 0.2em;
}

#unset {
    color: var(--unset-color);
    border-color: currentColor;
}
#timing {
    color: var(--timing-color);
    border-color: currentColor;
}
#overtime {
    color: var(--overtime-color);
    border-color: currentColor;
}

output:after {
    content: 'ms';
}

.content > * {
  vertical-align: baseline;
}

.control {
    flex: 0 1 auto;
}

button {
    padding: 3px 10px;
    border-radius: 1em;
    border: 1px solid currentColor;
    color: inherit;
    background: white;
}

fieldset:not([disabled]) button:hover {
    color: white;
    background: black;
}

section {
    line-height: 1.333;
}
